################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExpenseTracker/.vs
/ExpenseTracker/ExpenseTracker/bin/Debug/net6.0
/ExpenseTracker/ExpenseTracker/obj
